<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Gallery1"

>
  <image imageURL="images/1.jpg"
	thumbURL="thumbs/1.jpg"
	linkURL="images/1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/momo/Dropbox/Mark Magazine Sharing/WE/1.JPG">
    <title><![CDATA[1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2.jpg"
	thumbURL="thumbs/2.jpg"
	linkURL="images/2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/momo/Dropbox/Mark Magazine Sharing/WE/2.JPG">
    <title><![CDATA[2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3.jpg"
	thumbURL="thumbs/3.jpg"
	linkURL="images/3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/momo/Dropbox/Mark Magazine Sharing/WE/3.JPG">
    <title><![CDATA[3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/4.jpg"
	thumbURL="thumbs/4.jpg"
	linkURL="images/4.jpg"
	linkTarget="_blank"
	sourcePath="/Users/momo/Dropbox/Mark Magazine Sharing/WE/4.JPG">
    <title><![CDATA[4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/5.jpg"
	thumbURL="thumbs/5.jpg"
	linkURL="images/5.jpg"
	linkTarget="_blank"
	sourcePath="/Users/momo/Dropbox/Mark Magazine Sharing/WE/5.JPG">
    <title><![CDATA[5]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>