<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	cropToFit="true"
	backgroundColor="rgba(255,255,255,1)"
	useFullscreenExpand="false"
	useThumbDots="false"

>
  <image imageURL="images/1.jpg"
	thumbURL="thumbs/1.jpg"
	linkURL="images/1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/markfingerhuth/Dropbox/mark magazine sharing/catherine photo shoot/1.JPG">
    <title><![CDATA[1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2.jpg"
	thumbURL="thumbs/2.jpg"
	linkURL="images/2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/markfingerhuth/Dropbox/mark magazine sharing/catherine photo shoot/2.JPG">
    <title><![CDATA[2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3.jpg"
	thumbURL="thumbs/3.jpg"
	linkURL="images/3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/markfingerhuth/Dropbox/mark magazine sharing/catherine photo shoot/3.JPG">
    <title><![CDATA[3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/4.jpg"
	thumbURL="thumbs/4.jpg"
	linkURL="images/4.jpg"
	linkTarget="_blank"
	sourcePath="/Users/markfingerhuth/Dropbox/mark magazine sharing/catherine photo shoot/4.JPG">
    <title><![CDATA[4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>