<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="KunstFront"

>
  <image imageURL="images/IMG_7041.jpg"
	thumbURL="thumbs/IMG_7041.jpg"
	linkURL="images/IMG_7041.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Mo/Downloads/KF shoot for mark/IMG_7041.JPG">
    <title><![CDATA[IMG_7041]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7043.jpg"
	thumbURL="thumbs/IMG_7043.jpg"
	linkURL="images/IMG_7043.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Mo/Downloads/KF shoot for mark/IMG_7043.JPG">
    <title><![CDATA[IMG_7043]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7046.jpg"
	thumbURL="thumbs/IMG_7046.jpg"
	linkURL="images/IMG_7046.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Mo/Downloads/KF shoot for mark/IMG_7046.JPG">
    <title><![CDATA[IMG_7046]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7047.jpg"
	thumbURL="thumbs/IMG_7047.jpg"
	linkURL="images/IMG_7047.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Mo/Downloads/KF shoot for mark/IMG_7047.JPG">
    <title><![CDATA[IMG_7047]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7053.jpg"
	thumbURL="thumbs/IMG_7053.jpg"
	linkURL="images/IMG_7053.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Mo/Downloads/KF shoot for mark/IMG_7053.JPG">
    <title><![CDATA[IMG_7053]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7055.jpg"
	thumbURL="thumbs/IMG_7055.jpg"
	linkURL="images/IMG_7055.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Mo/Downloads/KF shoot for mark/IMG_7055.JPG">
    <title><![CDATA[IMG_7055]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7062.jpg"
	thumbURL="thumbs/IMG_7062.jpg"
	linkURL="images/IMG_7062.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Mo/Downloads/KF shoot for mark/IMG_7062.JPG">
    <title><![CDATA[IMG_7062]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7064.jpg"
	thumbURL="thumbs/IMG_7064.jpg"
	linkURL="images/IMG_7064.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Mo/Downloads/KF shoot for mark/IMG_7064.JPG">
    <title><![CDATA[IMG_7064]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7069.jpg"
	thumbURL="thumbs/IMG_7069.jpg"
	linkURL="images/IMG_7069.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Mo/Downloads/KF shoot for mark/IMG_7069.JPG">
    <title><![CDATA[IMG_7069]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7072.jpg"
	thumbURL="thumbs/IMG_7072.jpg"
	linkURL="images/IMG_7072.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Mo/Downloads/KF shoot for mark/IMG_7072.JPG">
    <title><![CDATA[IMG_7072]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7080.jpg"
	thumbURL="thumbs/IMG_7080.jpg"
	linkURL="images/IMG_7080.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Mo/Downloads/KF shoot for mark/IMG_7080.JPG">
    <title><![CDATA[IMG_7080]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7087.jpg"
	thumbURL="thumbs/IMG_7087.jpg"
	linkURL="images/IMG_7087.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Mo/Downloads/KF shoot for mark/IMG_7087.JPG">
    <title><![CDATA[IMG_7087]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7090.jpg"
	thumbURL="thumbs/IMG_7090.jpg"
	linkURL="images/IMG_7090.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Mo/Downloads/KF shoot for mark/IMG_7090.JPG">
    <title><![CDATA[IMG_7090]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>